// Widescreens
@include mediaXl {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

// Desktops & Laptops
@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Tablets & Small Laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url('../img/portrait.jpg');
      width: 150px;
      height: 150px;
    }
  }

  .about-info {
    grid-template-areas:
      'bioimage'
      'bio'
      'icon';

    grid-template-columns: 1fr;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

// Smartphones
@include mediaSm {

  #about {
    margin: 0 auto;
  }
  main {
    padding: 0;
    #home h1 {
      margin-top: 10vh;
    }

    .lg-heading {
      margin-top:1rem;
      font-size: 5rem;
    }

    .sm-heading {
      padding: 0;
      font-size: 2rem;
      margin: 0 auto;
    }

    .about-info {
      grid-template-areas:
        'bioimage'
        'bio'
        'icon1'
        'icon2';
      .bio-image {
        grid-area: bioimage;
      }
      .bio {
        grid-area: bio;
        margin: 0;
        p {
          font-size: 1rem;
        }
      }
      .icon1 {
        grid-area: icon1;
        li {
          img {
            height: 65px;
            width: 65px;
          }
        }
      }
      .icon2 {
        grid-area: icon2;
      }
    }
  }

  .projects {
    grid-template-columns: 1fr;
  }
}
